name: Build

on:
  pull_request:
    paths-ignore:
     - 'README.md'
    branches: 
      - main
  push:
    paths-ignore:
     - 'README.md'
    branches: 
      - main

jobs:
  build:
    
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
        node-version: [14.x, 16.x, 18.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install
    - run: npm run test
      env:
        CI: true